############################
# IDE (PyCharm / IntelliJ)
############################
.idea/
*.iml

############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class
*.pyc

# 虚拟环境
venv/
.env/
.venv/
env/

############################
# Django
############################
# Django cache & runtime
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django collected static files
staticfiles/

############################
# Environment variables
############################
.env
.env.*

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Test / coverage
############################
.pytest_cache/
.coverage
htmlcov/